body {
    font-family: sans-serif;
}

body h1 {
    text-align: center;
}

table.nice {
    border-collapse: collapse;
}

table.nice,
table.nice th,
table.nice td {
    border: 1px solid;
    padding: 1ch 2ch;
}

.data {
    font-family: monospace;
    font-size: 1rem;
}
